<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center"> 
            <div class="col-md-6"> 
                <h2 class="text-center btn-warning font-weight-bold">Formulario - Cadena Software</h2>
                <form class="text-center">
                    <div class="form-group">
                        <label for="nombre">¿Qué artista sueles escuchar más seguido?</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su respuesta..." required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">¿Cuál es tu género musical preferido?</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su respuesta..." required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">¿Cómo crees que podríamos mejorar la programación musical para satisfacer tus preferencias?</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su respuesta..." required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">¿Consideras que hay géneros musicales para determinados momentos del día, cuáles?</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su respuesta..." required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">¿En qué horarios o momentos del día sueles escuchar la radio con más frecuencia? </label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su respuesta..." required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">¿Escuchas la radio diariamente, semanalmente, raramente o varias veces a la semana?</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su respuesta..." required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">¿Tienes alguna sugerencia para crear playlists temáticas que hagan que la experiencia sea más emocionante?</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su respuesta..." required>
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg font-weight-bold">Enviar Respuestas</button>
                </form>
            </div>
        </div>
    </div>

    <footer class="text-center">Radio Cadena Software - CopyRight 2023 ©</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


