
body {
    background-image: url(./img/radio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: rgb(255, 242, 227);
    padding: 10px;
}

.container {
    padding: 20px;
}