<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center btn-success font-weight-bold">Formulario - Cadena Software</h2>
                <form class="text-center" id="form">
                    <div class="form-group">
                        <label for="edad" class="text-warning">¿Cuál es tu Edad?</label>
                        <input type="number" class="form-control" id="edad" name="edad" placeholder="Ingrese su Edad" required>
                    </div>
                    <div class="form-group">
                        <label for="genero" class="text-warning">¿Con qué género te identificas?</label>
                        <select class="form-control" name="genero" id="genero" required>
                            <option value="" hidden disabled>Select su Respuesta</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="localidades" class="text-warning">¿De qué localidad eres?</label>
                        <select class="form-control" name="localidades" id="localidades" required>
                            <option value="" hidden disabled>Select su Respuesta</option>
                            <option value="Formosa">Formosa</option>
                            <option value="Pilcomayo">Pilcomayo</option>
                            <option value="Patiño">Patiño</option>
                            <option value="Matacos">Matacos</option>
                            <option value="Pilagás">Pilagás</option>
                            <option value="Ramón Lista">Ramón Lista</option>
                            <option value="Bermejo">Bermejo</option>
                            <option value="Laishí">Laishí</option>
                            <option value="Pirané">Pirané</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="estudios" class="text-warning">¿Cuál es tu Nivel de Estudio?</label>
                        <select class="form-control" name="estudios" id="estudios" required>
                            <option value="" hidden disabled>Select su Respuesta</option>
                            <option value="Primaria">Primaria</option>
                            <option value="Secundaria">Secundaria</option>
                            <option value="Terciaria">Terciaria</option>
                            <option value="Universidad">Universidad</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="artista" class="text-warning">¿Qué artista sueles escuchar más seguido?</label>
                        <select class="form-control" name="artista" id="artista" required>
                            <option value="" hidden disabled>Select su Respuesta</option>
                            <option value="Bad Bunny">Bad Bunny</option>
                            <option value="Eminem">Eminem</option>
                            <option value="Emilia Mernes">Emilia Mernes</option>
                            <option value="Bizzarap">Bizzarap</option>
                            <option value="Shakira">Shakira</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="generoMusical" class="text-warning">¿Cuál es tu género musical preferido?</label>
                        <select class="form-control" name="generoMusical" id="generoMusical" required>
                            <option value="" hidden disabled>Select su Respuesta</option>
                            <option value="Bachata">Bachata</option>
                            <option value="Electrónica">Electrónica</option>
                            <option value="House">House</option>
                            <option value="Folklore">Folklore</option>
                            <option value="Rock">Rock</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="mejoras" class="text-warning">¿Cuál de estas opciones crees que podrían mejorar tu experiencia?</label>
                        <select class="form-control" name="mejoras" id="mejoras" required>
                            <option value="" hidden disabled>Select su Respuesta</option>
                            <option value="Preguntas y Respuestas en vivo">Preguntas y Respuestas en vivo</option>
                            <option value="Entrevistas semanales">Entrevistas semanales</option>
                            <option value="Música en vivo">Música en vivo</option>
                            <option value="Sorteos y Encuestas">Sorteos y Encuestas</option>
                            <option value="Saludos">Saludos</option>
                            <option value="Noticias musicales">Noticias musicales</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="preferencia" class="text-warning">¿Qué género musical prefieres escuchar mientras realizas tus tareas del día?</label>
                        <select class="form-control" name="preferencia" id="preferencia" required>
                            <option value="" hidden disabled>Select su Respuesta</option>
                            <option value="Reggaeton">Reggaeton</option>
                            <option value="K-pop">K-pop</option>
                            <option value="Trap">Trap</option>
                            <option value="Rap">Rap</option>
                            <option value="Rock-Nacional">Rock-Nacional</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="horarios" class="text-warning">¿En qué horarios o momentos del día sueles escuchar la radio con más frecuencia?</label>
                        <select class="form-control" name="horarios" id="horarios" required>
                            <option value="" hidden disabled>Select su Respuesta</option>
                            <option value="Mañana">Mañana</option>
                            <option value="Tarde">Tarde</option>
                            <option value="Noche">Noche</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="frecuencia" class="text-warning">¿Escuchas la radio diariamente, semanalmente, raramente o varias veces a la semana?</label>
                        <select class="form-control" name="frecuencia" id="frecuencia" required>
                            <option value="" hidden disabled>Select su Respuesta</option>
                            <option value="Diariamente">Diariamente</option>
                            <option value="Semanalmente">Semanalmente</option>
                            <option value="Varias veces a la semana">Varias veces a la semana</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sugerencias" class="text-warning">¿Tienes alguna sugerencia para crear playlists temáticas que hagan que la experiencia sea más emocionante?</label>
                        <input type="text" class="form-control" name="sugerencias" id="sugerencias" placeholder="Ingrese su respuesta..." required>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg font-weight-bold">Enviar Respuestas</button>
                </form>
            </div>
        </div>
    </div>

    <footer class="text-center">Radio Cadena Software - CopyRight 2023 ©</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/form.js"></script>
</body>

</html>
